name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  find-changes:
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.find-changes.outputs.targets == 'true' }}
    steps:
      - uses: dorny/paths-filter@668c092af3649c4b664c54e4b704aa46782f6f7c
        id: find-changes
        with:
          filters: |
            targets:
              - 'src/**/*.kk'
              - 'test/**/*.kk'

  test:
    permissions:
      contents: read
    needs: find-changes
    if: ${{ needs.find-changes.outputs.changed == 'true' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['v3.0.4', 'v3.1.3', 'v3.2.2']
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Create .koka-version
        run: echo "$KOKA_VERSION" >> .koka-version
        env:
          KOKA_VERSION: ${{ matrix.version }}

      - name: Test
        uses: ./.github/actions/test

  # Reference:
  # - <https://stackoverflow.com/questions/70275958/how-do-i-set-a-github-branch-protection-rule-based-on-the-success-or-failure-of>
  post-test:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
      - name: All tests passed
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Some tests failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
